@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR";
}

@layer components {
  .text-field > p {
    @apply absolute;
  }

  .navigation-title-wrapper > button {
    @apply mr-[7px];
  }
}
